<div align="center">
    <div class="label">
      <label #donnee></label>
    </div>
    <form>
        <input type="radio" id="first" name="fav_language" value="HTML">
        <label for="first">a</label><br>
        <input type="radio" id="second" name="fav_language" value="UwU">
        <label for="second">HTML</label><br>
        <input type="radio" id="third" name="fav_language" value="HTL">
        <label for="third">HTML</label><br>
        <input type="radio" id="fourth" name="fav_language" value="HML">
        <label for="fourth">HTML</label><br>
    </form>
    <p><button (click)="send()">Envoyer</button></p>
</div>
