<div align="center">
    <div class="label">
      <label #donnee></label>
    </div>
    <form>
        <input type="radio" id="1" name="response" [(ngModel)]="response" value="{{ elements[0]}}">
        <label for="1">{{ elements[0]}}</label><br>
        <input type="radio" id="2" name="response" [(ngModel)]="response" value="{{ elements[1]}}">
        <label for="2">{{ elements[1]}}</label><br>
        <input type="radio" id="3" name="response" [(ngModel)]="response" value="{{ elements[2]}}">
        <label for="3">{{ elements[2]}}</label><br>
        <input type="radio" id="4" name="response" [(ngModel)]="response" value="{{ elements[3]}}">
        <label for="4">{{ elements[3]}}</label><br>
    </form>
    <p><button (click)="send()">Envoyer</button></p>
</div>
