<div class="loginDiv" align="center">

    <img alt="logo" src="https://www.hes-so.ch/fileadmin/documents/HES-SO/Documents_HES-SO/images/hautes-ecoles/hes-so-valais-wallis_01.png">
    <div class="center">
        <p>Os iusti meditabitur sapientiam,
            Et lingua eius loquetur indicium,
            
            Beatus vir qui suffert tentationem,
            Quoniqm cum probates fuerit accipient coronam vitae,
            
            Kyrie, ignis divine, eleison,
            
            O quam sancta, quam serena,
            Quam benigma, quam amoena,
            O castitatis lilium
        </p>
        <form>
            <div>
                <input class="forminput" type="text" #mail required placeholder="Email">
            </div>
            
            <div>
                <p><input class="forminput" type="password" #pass name="passw" required placeholder="Mot de passe"></p>
            </div>
            <p><label #message id="incorrectInput"> </label></p>            
        </form>
        <button (click)="login(mail.value, pass.value)">Se connecter</button>
        <p>Besoin d'un compte ? <a class="link" href="/signup">S'inscrire</a></p>
    </div>
</div>