<div class="loginDiv" align="center">

    <img alt="logo" src="https://www.hes-so.ch/fileadmin/documents/HES-SO/Documents_HES-SO/images/hautes-ecoles/hes-so-valais-wallis_01.png">
    <div class="center">
        <p id="intro">Jav'enture est un "jeu" pédagogique développé lors d'un travail de bachelor
            qui a pour but de permettre les étudiants de la Digital Team Academy a prouvé
            les connaissances acquises au travers d'un système de niveaux qui évolue en parallèle de la théorie vue.
        </p>
        <form>
            <div>
                <input class="forminput" type="text" #mail required placeholder="Email">
            </div>
            
            <div>
                <p><input class="forminput" type="password" #pass name="passw" required placeholder="Mot de passe"></p>
            </div>
            <p><label #message id="incorrectInput"> </label></p>            
        </form>
        <button (click)="login(mail.value, pass.value)">Se connecter</button>
        <p>Besoin d'un compte ? <a class="link" href="/signup">S'inscrire</a></p>
    </div>
</div>