<div class="sidenav">
    <img alt="logo" src="https://www.hes-so.ch/fileadmin/documents/HES-SO/Documents_HES-SO/images/hautes-ecoles/hes-so-valais-wallis_01.png" (click)="navigate('')">
    <p>Niveaux</p>
    <a class="smallLink" href="/level">Niveau 1</a>
    <a class="smallLink" href="/level">Niveau 2</a>
    <a class="smallLink" href="/level">Niveau 3</a>
    <a class="smallLink" href="/level">Niveau 4</a>
    <a class="smallLink" href="/level">Niveau 5</a>
    <a class="smallLink" href="/level">Niveau 6</a>
    <a class="smallLink" href="/level">Niveau 7</a>
    <a class="smallLink" href="/level">Niveau 8</a>
    <a class="smallLink" href="/level">Niveau 9</a>
    <a class="smallLink" href="/level">Niveau 10</a>
    <p><a href="/evaluation">Evaluation</a></p>
    <p><a rel="noopener" target="_blank" href="https://cyberlearn.hes-so.ch/course/view.php?id=22142">Cyberlearn</a></p>
</div>