<div class="sidenav">
    <img alt="logo" src="https://www.hes-so.ch/fileadmin/documents/HES-SO/Documents_HES-SO/images/hautes-ecoles/hes-so-valais-wallis_01.png" (click)="navigate('')">
    <p>Niveaux</p>
    <a class="smallLink" (click)="navigate('/level/:1')">Niveau 1</a>
    <a class="smallLink" (click)="navigate('/level/:2')">Niveau 2</a>
    <a class="smallLink" (click)="navigate('/level/:3')">Niveau 3</a>
    <a class="smallLink" (click)="navigate('/level/:4')">Niveau 4</a>
    <a class="smallLink" (click)="navigate('/level/:5')">Niveau 5</a>
    <a class="smallLink" (click)="navigate('/level/:6')">Niveau 6</a>
    <a class="smallLink" (click)="navigate('/level/:7')">Niveau 7</a>
    <a class="smallLink" (click)="navigate('/level/:8')">Niveau 8</a>
    <a class="smallLink" (click)="navigate('/level/:9')">Niveau 9</a>
    <a class="smallLink" (click)="navigate('/level/:10')">Niveau 10</a>
    <p><a rel="noopener" target="_blank" href="https://cyberlearn.hes-so.ch/course/view.php?id=22142">Cyberlearn</a></p>
</div>