<app-sidebar></app-sidebar>
<div class="main">
  <app-toolbar></app-toolbar>
  <div>
    <p><a class="link" href="/level">Niveau 1</a></p>
    <p><a class="link" href="/level">Niveau 2</a></p>
    <p><a class="link" href="/level">Niveau 3</a></p>
    <p><a class="link" href="/level">Niveau 4</a></p>
    <p><a class="link" href="/level">Niveau 5</a></p>
    <p><a class="link" href="/level">Niveau 6</a></p>
    <p><a class="link" href="/level">Niveau 7</a></p>
    <p><a class="link" href="/level">Niveau 8</a></p>
    <p><a class="link" href="/level">Niveau 9</a></p>
    <p><a class="link" href="/level">Niveau 10</a></p>
  </div>
</div>