<app-sidebar></app-sidebar>
<div class="main">
  <app-toolbar></app-toolbar>
  <div>
    <p><a class="link" (click)="navigate('/level/:1')">Niveau 1</a></p>
    <p><a class="link" (click)="navigate('/level/:2')">Niveau 2</a></p>
    <p><a class="link" (click)="navigate('/level/:3')">Niveau 3</a></p>
    <p><a class="link" (click)="navigate('/level/:4')">Niveau 4</a></p>
    <p><a class="link" (click)="navigate('/level/:5')">Niveau 5</a></p>
    <p><a class="link" (click)="navigate('/level/:6')">Niveau 6</a></p>
    <p><a class="link" (click)="navigate('/level/:7')">Niveau 7</a></p>
    <p><a class="link" (click)="navigate('/level/:8')">Niveau 8</a></p>
    <p><a class="link" (click)="navigate('/level/:9')">Niveau 9</a></p>
    <p><a class="link" (click)="navigate('/level/:10')">Niveau 10</a></p>
  </div>
</div>